.button,
.button--secondary,
.button--tertiary {
  background-color: transparent;
  border: none;
  font-size: @font-size-h3;
  font-weight: @button-font-weight;
  text-transform: uppercase;
  text-align: @button-text-align;
  text-decoration: @button-text-decoration;
  height: 34px;
  line-height: 34px;
  min-width: 100px;
  width: auto;
  overflow: hidden;
  position: relative;
}

.button--tertiary {
  padding: 0 10px;
  .border-radius(18px);
  border: 0;
  box-shadow: none;
  color: @color-slate;
}

.button--selected {
  color: @color-azure;
}
